<%- include ('./partials/navbarOut') %>
<style>
    p#h1line {
    margin: 0 6rem;
}

.col-md-4.col-md-4-set {
    margin-left: 5rem;
}
</style>
<div class="heading">

    <h1 id="h1main">
        New PRESTO Devices
    </h1>
    <br>
    <p id="h1line"> You may start seeing some new PRESTO payment devices on transit systems in the 905 and across GO Transit. Many of our devices are now almost 10 years old, so we’re replacing them with upgraded ones to continue to provide reliable service. The devices have a new look, including larger screens, but the new devices are designed to process one card at a time, so make sure you’re tapping only your PRESTO card against the reader (not your entire wallet filled with cards) to pay your fare.</p>
    
  </div>

  <div class="row row-set">
    <div class="col-md-2">
  
    </div>
    <div class="col-md-3">
      <img id="this" src="https://www.prestocard.ca/~/media/afms/images/New%20PRESTO%20Devices/bftp-device-350x470px.ashx" width="380" height="480">
    </div> 
    <div class="col-md-4 col-md-4-set">
      <div class="para">
          <h3>Bus Devices</h3>
        <p>The new bus devices will replace our older devices on select buses at GO Transit and across the 905 transit agencies – Brampton Transit, Burlington Transit, Durham Region Transit, Hamilton Street Railway, MiWay, Oakville Transit and York Region Transit.
            <br><br>
            For GO Bus customers, the new devices will be on your left. If you tap on a new device, you can still tap off on an old device, or vice versa.</p>
      </div>
  
    </div>
    
    <div class="col-md-2">
  
    </div>
  </div>

  <div class="row row-set">
    <div class="col-md-2">
  
    </div>
    <div class="col-md-3">
      <img id="this" src="https://www.prestocard.ca/~/media/afms/images/New%20PRESTO%20Devices/sftp-device-400x223px.ashx" width="380" height="280">
    </div> 
    <div class="col-md-4 col-md-4-set">
      <div class="para">
          <h3>Station Devices</h3>
        <p>These new devices will be installed at select GO and York Region Transit stations. Press the “mode” button to the left of the screen, to check the balance on your card. GO customers can also use the “mode” button to override a default trip or reverse a tap. If you tap on a new device, you can still tap off on an old device, or vice versa.
            <br><br>
            These devices also have an “audio mode” for enhanced accessibility. To activate, just plug in your 3.5mm headset jack to the right of the screen and follow the instructions.</p>
      </div>
  
    </div>
    
    <div class="col-md-2">
  
    </div>
  </div>
  <%- include ('./partials/footerOut') %>
  <script src="javascript/newDevicesLearn.js"></script>