<%- include ('./partials/navbarOut') %>

<style>
    p#h1line {
    margin: 0 6rem;
}

.col-md-4.col-md-4-set {
    margin-left: 5rem;
}

h1#h1main {
    margin-bottom: 0;
}

.col-md-5.col-md-5-set {
    margin-left: 9rem;
}

a.linked {
    color: rgb(58, 129, 30);
    text-decoration: none;
    font-weight: 700;
}

p#first {
    line-height: 2;
}
</style>

<div class="heading">

    <h1 id="h1main">
        PRESTO on the TTC
    </h1>
    <br>
    <p id="h1line"> November 30 will be the last day the TTC will sell tickets, tokens and passes at collector booths. <br>You will still be able to use your tickets and tokens to ride the TTC after November 30.<br><br><br></p>
    
  </div>

  <div class="row row-set">
    <div class="col-md-1">
  
    </div>
    <div class="col-md-3">
      <img id="this" src="https://www.prestocard.ca/~/media/afms/images/presto-on-the-ttc/presto-hand.ashx" width="370" height="230">
    </div> 
    <div class="col-md-5 col-md-5-set">
      <div class="para">
          <h3>PRESTO</h3>
        <p id="first">PRESTO is a reloadable payment card that lets you pay your fare on the TTC, GO Transit, UP Express and 8 other transit agencies in Ontario. It’s the perfect time to get a PRESTO card to take advantage of benefits like lowest fares, balance protection, Autoload and 2-hour transfers. When you download the <a class="linked" href="/prestoAppOut">PRESTO app</a> you can load passes or money, manage up to 10 cards and check your balance.</p>
      </div>
  
    </div>
    
    <div class="col-md-2">
  
    </div>
  </div>

  <div class="row row-set">
    <div class="col-md-1">
  
    </div>
    <div class="col-md-3">
      <img id="this" src="https://www.prestocard.ca/~/media/afms/images/presto-on-the-ttc/my-presto-368x200px.ashx" width="370" height="230">
    </div> 
    <div class="col-md-5 col-md-5-set">
      <div class="para">
          <h3>Did you just receive a new PRESTO card and aren’t sure what to do next?</h3>
        <p id="first">If this is your first PRESTO card, make sure it is set to the correct Fare Type so that you’re paying the right fare. A senior or youth Fare Type can be set at any participating <a class="linked" target="blank" href="https://www1.shoppersdrugmart.ca/en/home">Shoppers Drug Mart location.</a><br>Once you’ve got your card, set up a My PRESTO Account and you can:</p>
        <ul>
            <li>manage up to 10 PRESTO cards through one My PRESTO Account</li>
            <li>quickly view your account balance and transaction history</li>
            <li>protect your card balance if it is ever lost or stolen</li>
            <li>set up Autorenew for automatic transit pass renewals</li>
            <li>set up and manage Autoload and Autorenew</li>
            <li>set up Autoload to automatically add funds when your balance falls below a set amount</li>
            
        </ul>
      </div>
  
    </div>
    
    <div class="col-md-2">
  
    </div>
  </div>

  <div class="row row-set">
    <div class="col-md-1">
  
    </div>
    <div class="col-md-3">
      <img id="this" src="https://www.prestocard.ca/~/media/afms/images/presto-on-the-ttc/presto-ttc-express.ashx" width="370" height="230">
    </div> 
    <div class="col-md-5 col-md-5-set">
      <div class="para">
          <h3>Downtown Express Routes</h3>
        <p id="first">TTC customers can now use PRESTO to pay the entire fare for travel on any Downtown Express route. Just tap like you usually do and the base fare and additional Downtown Express fare will both be deducted from your PRESTO card balance.<br>
            If you’re transferring from a regular route, only the additional fare will be deducted when you tap on a Downtown Express bus. Children 12 years and under can ride Downtown Express buses for free, like they can on regular TTC routes.<br>
            If you load a TTC Monthly Pass, you can now choose to load a TTC Monthly Downtown Express Pass that allows unlimited travel on all regular TTC routes and all Downtown Express routes.<br><a class="linked" target="blank" href="http://www.ttc.ca/Fares_and_passes/Other_Passes/Downtown_Express.jsp">You can find a list of the Downtown Express routes on the TTC website.</a></p>
      </div>
  
    </div>
    
    <div class="col-md-2">
  
    </div>
  </div>

  <%- include ('./partials/footerOut') %>
  <script src="javascript/newDevicesLearn.js"></script>