<%- include ('./partials/navbarOut') %>

<header id="welcomeHead">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 id="heading1">Tap On. Ride Easy.</h1>
        <a id="link1" href="/users/register"><button type="button" id="new" class="btn btn-light btn-lg">I'm New to Presto</button></a>
        <a id="link2" href="/users/login"><button type="button" id="old" class="btn btn-light btn-lg">I'm Presto User</button></a>
      </div>
    </div>
  </div>
</header>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="javascript/welcome.js"></script>

<%- include ('./partials/footerOut') %>
